h1, body, html, main {
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
h3{
  font-weight: 400;
}
header{
  background-image: URL("../images/soup.jpg");
  background-position: center;
  height: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.title{
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0 auto;
}
main{
  max-width: 65%;
  margin: auto;
}
#section-1{
 
  margin-top: 5%;
}
.img{
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
}
.img img{
  margin:20px 0px;
  width: 50%;
}
#section-2{
  margin-top: 5%;
}
#section-2 ul{
  list-style:"- " ;
}
h5{
  
  font-weight: 400;
}
#section-3{
  margin-top: 5%;
}
#section-3 ol{
  list-style: none;
  
}
