#food-table{
    text-align: center;
    background-color: antiquewhite;
    border-spacing: 0;
}
.comida{
    color:rgb(119, 119, 253);
    width: 50%;
}
.imagen{
    color: rgb(138, 138, 253);
}
.pais{
    color: rgb(176, 176, 255);
}
.rating{
    color: rgb(193, 193, 250);
}
.encabezado{
    background-color: black;
}
.spaghetti{
    background-color: red;
}
.tortilla{
    background-color: yellow;
}
.kebab{
    background-color: bisque;
}
.patacon{
    color: red;
}