@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

.island-moments-font{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
    font-weight: 400;
    font-style: bold;
}