/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* google fonts import roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styling */
body{
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
}
/* header section */
header{
    position: fixed;
    z-index: 1;
    width: 100%;

    /* flex  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;

}

.javascript-example {
    position: fixed;
    z-index: 1;
    /* z-index: 9999; */
    /* estos dos z-index son lo mismo */
    width: 100%;
  
    /* flex properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
  }
  
  .js-background {
    background-color: #00b172 !important;
  }

.spotify-logo{
    width: 160px;
    padding: 20px;
}

nav ul{
    list-style: none;

    /* flex */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0 16px;
}

/* section-1 image section */
.img-container{
    position: relative;
    text-align: center;
    color: white;
}

#img-back{
    object-fit:cover;
    width: 100%;
    height: 600px;
    padding-top: 5vh;
}

.centered-text{
    position: absolute;
    top: 30%;
    width: 100%;
}

.centered-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.centered-subtitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;

}

/* section-2 what's on spotify */

#advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}
#advantages h1 span{
    border-bottom: 4px solid #00B172;
}
#advantages h1{
    padding: 5px;
    margin-bottom: 5rem;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}
#advantages h2{
    color: #00B172;
}
#advantages p{
    font-size: 1.5rem;
    font-weight: 100;
}
#advantages img{
    width: 120px;
    margin-bottom: 2rem;

}
#advantages .external-div{

    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 90%;


}
#green-section{
    background-color: #00B172;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    margin: 3%;
    padding: 3%;
    height: auto;
    text-align: center;

    position: relative;
}
#green-section h1{
    width: 90%;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;

}
#green-section h1 span{
    border-bottom: 4px solid #FFF;
}
#green-section h2{
    font-weight: 500;
}
#green-section p{
    font-weight: 100;
    font-size: 1.5rem;
    text-align: left;
}
#green-section .app-img{
    width: 55%;
}
#green-section .white-spotify{
    width: 9vw;
}
#green-section .external-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
#green-section .internal-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 45%;
}
#green-section .internal-div2{
    width: 10%;
}
#green-section .internal-div3{
    width: 45%;
}